{:deps {http-kit               {:mvn/version "2.3.0"}
        cheshire               {:mvn/version "5.8.1"}
        stylefruits/gniazdo    {:mvn/version "1.1.1"}
        org.clojure/core.async {:mvn/version "0.4.490"}
        com.taoensso/timbre    {:mvn/version "4.10.0"}}}
